* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1b1b1b, #101820, #001f3f);
  color: #fff;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.logo {
  font-size: 1.4rem;
  color: #00b4ff;
  font-weight: 600;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.nav-links a:hover {
  color: #00b4ff;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 40px 80px;
}
.hero-content {
  max-width: 500px;
}
.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}
.hero span {
  color: #00b4ff;
}
.hero p {
  margin-bottom: 20px;
  opacity: 0.8;
}
.hero-btn {
  background: #007Aff;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
}
.hero-image img {
  width: 260px;
  border-radius: 50%;
  border: 5px solid #00b4ff;
  box-shadow: 0 0 20px rgba(0, 180, 255, 0.5);
}

/* SECTIONS */
section {
  padding: 80px 40px;
  text-align: center;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

/* ABOUT */
.skill-container span {
  background: #ffffff15;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
  display: inline-block;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}
.project-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.project-card a {
  color: #00b4ff;
}

/* EDUCATION */
.edu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}
.edu-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* RESUME */
.btn {
  padding: 10px 20px;
  /* background:#ffd369; */
  background: #007AFF;
  /* color: #222; */
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  margin: 5px;
}

.resume-links {
  margin: 25px;
}

/* CONTACT */
.contact-buttons a {
  margin: 10px;
  text-decoration: none;
  color: #00b4ff;
  font-size: 1.1rem;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #00000050;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
